<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://www.arkision.com/">
        <img src="../static/img/ARKISION LOGO.png" width="150" height="100"/>
     </a>
     <h1 style="padding-left:40% ;">
         Image Descriptor
     </h1>
    <form method="post" style="padding-left: 40%;" enctype="multipart/form-data">
        <input name="file"style="align-content: center;" type="file"><br>
        <input style="margin-top: 10%;" type="submit">
    </form>
    <p style="margin-left: 40%;">Description: {{ msg }}</p>
</body>
</html>